<section>
  <header>
    <h2><%= @update_form.name %></h2>
  </header>

  <div class="col-md-6 col-md-offset-3">
    <h3>Questions</h3>

    <%if @update_form.questions.empty? %>
      <p class='empty-questions'>You have not added any questions yet</p>
    <% end %>

    <ol id="questions" data-update_form_id="<%= @update_form.id %>">
      <%= render @update_form.questions %>
    </ol>

    <h3>New Question</h3>

    <%= form_for [@update_form, Question.new], remote: true, html: { class: 'new_question form-inline' } do |f| %>
      <div class="form-group">
        <%= f.label :text, class: 'control-label' %>
        <%= f.text_field :text, class: 'form-control', autocomplete: 'off' %>
      </div>

      <%= f.submit class: 'btn btn-primary' %>

    <% end %>

    <h3>Launch Form!</h3>

    <div class='form-group'>
      <%= form_tag do %>
        <%= label_tag :public_link, 'Public Link', class: 'control-label' %>
        <%= text_field_tag :public_link, 'https://' + request.host + url_for(publicize(@update_form)), class: 'form-control', readonly: true %>
      <% end %>
    </div>
  </div>
</section>
